SECRET_KEY=change-me-please
SESSION_HTTPS_ONLY=0
TRUSTED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///./cosplay.db
PORT=8000
PROJECT_NAME_FILE=PROJECT_NAME.txt
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_ENABLED=1
TELEGRAM_POLL_TIMEOUT=20
TELEGRAM_LOOP_SLEEP=2
APP_BASE_URL=http://127.0.0.1:8000
PASSWORD_RESET_TOKEN_MINUTES=30
VKID_ENABLED=1
VKID_APP_ID=54500249
VKID_REDIRECT_URL=https://cosplay-planner.ru/
VKID_SCOPE=
VK_API_VERSION=5.199
VK_IMPORT_TOKEN=
VK_IMPORT_ENABLED=1
VK_IMPORT_WALL_DOMAIN=cosplay_teamm
VK_IMPORT_WALL_COUNT=50
RAF_OWNER_ID=-22664912
MASTER_IMPORT_INTERVAL_HOURS=12
RAF_IMPORT_INTERVAL_HOURS=24
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_USE_TLS=1
SMTP_USE_SSL=0
