<section class="community-tabs">
  <a href="/project-board" class="tab {% if community_tab == 'project-board' %}active{% endif %}">Поиск в проекты</a>
  <a href="/community/questions" class="tab {% if community_tab == 'questions' %}active{% endif %}">Вопрос-ответ</a>
  <a href="/community/masters" class="tab {% if community_tab == 'masters' %}active{% endif %}">Мастера</a>
  <a href="/community/studios" class="tab {% if community_tab == 'studios' %}active{% endif %}">Студии</a>
  <a href="/community/cosplayers" class="tab {% if community_tab == 'cosplayers' %}active{% endif %}">Косплееры</a>
  <a href="/community/articles" class="tab {% if community_tab == 'articles' %}active{% endif %}">Статьи</a>
</section>
